@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin button {
    background: $color-icon;
    border-radius: 16px;
    border: none;
    font-family: $font-medium;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: $color-bg;
    display: flex;
    align-items: center;
    width: 119px;
    height: 32px;
    justify-content: space-evenly;
    cursor: pointer;
}

@mixin modalWindow {
    position: fixed;
    top: 0;
    width: 288px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    right: -225%;
    transition: 0.7s;
    padding: 24px 16px 0 16px;
    overflow-y: scroll;
}