body {
    margin: 0;
    padding: 0;
}

.aside__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu__list {
    margin: 0;
    padding: 0;
}

.tehnics__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.price__title {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.price__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}