$font-regular: 'TT Lakes Regular', sans-serif;
$font-medium: 'TT Lakes Medium', sans-serif;
$font-bold: 'TT Lakes Bold', sans-serif;
$font-condensed-medium: 'TT Lakes Condensed Medium', sans-serif;

$color-icon: #FF3E79;
$color-main-text: #1B1C21;
$color-bg: #FFFFFF;
$color-nav-text: #7E7E82;
$color-bg-two: #EAEAEA;
$color-active-link: #41F6D7;
$color-border: #D9FFF5;
$color-active-menu: #F8F8F8;
$color-bg-icon-hover: #8c8688;
$color-swiper-bullet: #6e6e74;
$color-link-active: #B8FFEC;
$link-hover: #3a3737;