.footer {
    border-top: 1px solid $color-border;

    &__list {
        display: flex;
        max-width: 1120px;
        @include reset-list;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;

        :nth-child(2) {
            white-space: nowrap;
        }

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            max-width: 1120px;
            justify-content: space-between;
            text-align: unset;

            :nth-child(2) {
                white-space: nowrap;
            }

            :nth-child(3) {
                text-align: end;
            }
        }
    }

    &__item {
        font-family: $font-medium;
        font-size: 14px;
        line-height: 16px;
        color: $color-nav-text;
        mix-blend-mode: normal;
        opacity: 0.72;

        @media (min-width: 768px) {
            flex-basis: 350px;
        }
    }

    &__wrapper {
        padding: 16px 16px;

        @media (min-width: 768px) {
            padding: 24px 24px;
        }

        @media (min-width: 1250px) {
            padding: 32px 32px;
        }
    }
}