body.lock {
    overflow: hidden;
}
.wrapper {
    background: #F8F8F8;

    &-container {
        margin: 0 auto;
        max-width: 1440px;

        @media (min-width: 1250px) {
            display: flex;
        }
    }
}

.main__container-wrapper {
    padding: 0 0 0 16px;

    @media (min-width: 768px) {
        padding: 0 24px 0 24px;
    }

    @media (min-width: 1250px) { 
        padding: 0 32px 0 32px;
    }
}

.wrapper.active .aside {
    position: relative;
    transform: translate(0%);
    display: flex;
    position: fixed;
    height: 100%;
    z-index: 5;
    width: 320px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.wrapper.active .overlay {
    background: #FFFFFF;
    width: 100%;
    height: 200vh;
    z-index: 2;
    top: 0;
    position: absolute;
    opacity: 0.96;
}

.wrapper.request .order-call {
    right: 0;
    z-index: 10;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.wrapper.request .overlay {
    background: #FFFFFF;
    width: 100%;
    height: 200vh;
    z-index: 8;
    top: 0;
    position: absolute;
    opacity: 0.96;
}

.wrapper.feedback .feedback {
    right: 0;
    z-index: 10;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.wrapper.feedback .overlay {
    background: #FFFFFF;
    width: 100%;
    height: 200vh;
    z-index: 8;
    top: 0;
    position: absolute;
    opacity: 0.96;
}