@mixin modal-window-input {
    width: 280px;
        height: 48px;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        background-color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC;
        font-family: $font-regular;

        @media (min-width: 768px) {
            width: 368px;
        }
}