.title {
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 16px 0 16px 16px;
    margin: 24px 0 0 0;
    font-family: $font-regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $color-nav-text;
    border-top: 1px solid $color-border;

    @media (min-width: 768px) {
        padding: 16px 0 16px 24px;
        margin-top: 32px;
    }
    
    @media (min-width: 1120px) {
        margin-top: 48px;
        padding: 16px 0 16px 32px;
    }

}    


.brands {
    @media (min-width: 768px) {
        &-container__button {
            padding: 0;
        }

        &-container.active .cards {
            height: 239px;

            @media (min-width: 1120px) {
                height: 248px;
            }
        }

        &-container.active .show-button__img {
            background-image: url("assets/images/expand.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 24px;
        }
    }
}

.cards {
    padding: 16px 0;

    @media (min-width: 768px) {
        padding: 24px 0;
        height: 150px;
        transition: all 0.5s;
    }   

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0 0 24px 0;

        @media (min-width: 768px) {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            row-gap: 16px;
            column-gap: 24px;
            padding: 0;
        }
    }
}

.card {
    flex-basis: 240px;
    background: $color-bg;
    border: 1px solid $color-bg-two;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 16px 16px;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
    cursor: pointer;

    @media (min-width: 768px) {
        flex-basis: 224px;
        height: 72px;
    }
}
.card:hover >* {
    transition: all 0.5s;
    opacity: 0.5;
}

.select-icon {
    background-image: url("assets/images/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 12px;
    padding: 14px 17px;
    border: 2px solid $color-icon;
    border-radius: 20px;
}
.shadow {
    position: absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    right: 0;
    top: 97%;
    z-index: 2;
    width: 24px;
    height: 81px;

    @media (min-width: 380px) {
        display: none;
    }
}
